---
import { sideBarLinks, type SideBarLink } from "@/constants/experience";
---

<div class="mb-8 flex flex-row items-center justify-between sm:flex-col">
	{
		sideBarLinks.map((link: SideBarLink, index: number) => (
			<button
				data-panel={link.panelId}
				class={`flex-1 py-2 text-center text-sm sm:text-base ${index === 0 ? "active-tab" : ""} border-r border-gray-300 ${index === sideBarLinks.length - 1 ? "border-r-0" : ""} sm:border-r-0`}
			>
				{link.title}
			</button>
		))
	}
</div>
